/* Exercise 4 css styling*/

body{
    background-color:azure;
    margin: 15px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    margin: 10px;
    font-family: serif;
    color:rgb(7, 34, 49);
}

.main-header{
    background-color: azure;
    text-align: center;
    padding: 20px;
}

.main-header h1{
    margin: 0;
    font-size: 32px;
}

.main-header p{
    font-size: 16px;
    margin-top: 10px;
}

.content-article{
    background-color: rgb(186, 244, 244);
    border: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.content-article h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.content-article p{
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

a:link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(15, 53, 53);
}

a:visited{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

img{
    max-width: 800px;
    border: 2px;
    border-style: groove;
    border-color: rgb(33, 112, 112);
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) ;
    padding: 20px;
    text-align: center;
}